body {
  font-family: Lato, sans-serif;
  text-align: center;
  color: white;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
}

h3 {
  font-size: 1.4rem;
  font-weight: 400;
}

section {
  padding: 3rem 0 2.5rem;
  background-color: rgb(25, 150, 218);
}

.column-full {
  margin-bottom: 2.5rem;
}

.container {
  width: 1024;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.row {
  flex-basis: calc(100% / 3);
}

.row > h3 {
  margin-top: 1.5rem;
  margin-bottom: 0.9rem;
}

.row > p {
  font-size: 0.95rem;
  line-height: 1.3rem;
  color: rgb(219, 221, 221);
}

.image1 {
  height: 120px;
  width: 120px;
  border-radius: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.image1 > img {
  width: 50%;
}
