body {
  background-color: #0cafff;
  color: white;
  font-family: 'Courier New', monospace;
}

.container {
  max-width: 800;
  margin: 0 auto;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-one-third {
  display: flex;
  flex-basis: calc(100% / 3);
  padding-right: 40px;
  justify-content: space-around;
  padding-left: 50px;
}

.image {
  max-width: 50%;
  border-radius: 100px;
  background-color: white;
}
