h2 {
  text-align: center;
  font-family: sans-serif, Verdana;
  color: #ff4548;
  font-weight: 10;
}

fieldset {
  border: none;
}

.text {
  font-family: sans-serif, Verdana;
  font-weight: 200;
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 10px;
}

label {
  display: flex;
  justify-content: center;
}

.center {
  width: 380px;
  height: 35px;
  border: 1px solid grey;
  border-radius: 5px;
}

.button {
  text-align: right;
}

button {
  background-color: #ff5548;
  border-radius: 15px;
  border: none;
  color: white;
}

select {
  background-color: lightgray;
}
